<form id="form-container" action="/auth/login" method="POST">
    <label id="formList" for="auth-email">Email</label>
    <input id="formList" type="email" name="email" required>

    <label id="formList" for="auth-password">Password</label>
    <input id="formList" type="password" name="password" required>

    <input id="bttn" type="submit" value="Log In">
</form>