<form id="form-container" action="/auth/signup" method="POST">
    <label id="formList" for="new-email">Email</label>
    <input id="formList" type="email" name="email" required>

    <label id="formList" for="new-name">Name</label>
    <input id="formList" type="text" name="name" required>

    <label id="formList" for="new-password">Password</label>
    <input id="formList" type="password" name="password" required>

    <input id="bttn" type="submit" value="Sign up">
</form>
  