
        <% for(let i = 1; i < notes.length; i++ ) { %>
            <form method="POST" action="/notes/<%= recipe.id %>/<%= i %>?_method=DELETE">
                <input type="text" value="<%= notes[i] %>">
                <input type="submit" value="Delete" id="bttn" class="bttn">
            </form>
            <% }; %>

    <!-- 
        /notes/:id/:idx
     -->



<form method="POST" action="/notes/<%= recipe.id %>/?_method=DELETE"></form>