<div class="form-container">
    <form method="POST" action="/recipe" class="create-recipe">
        <label for="recipeName" class="create-recipe">Name</label>
        <input id="recipeName" type="text" name="name" class="create-recipe">

        <label for="recipeImg" class="create-recipe">Image URL</label>
        <input id="recipeImg" type="text" name="img_url" class="create-recipe">

        <label for="recipeDescription" class="create-recipe">Description</label>
        <input id="recipeDescription" type="text" name="description" class="create-recipe">

        <label for="recipeYields" class="create-recipe">Yields</label>
        <input id="recipeYields" type="text" name="yields" class="create-recipe">

        <label for="recipePrepTime" class="create-recipe">Prep Time</label>
        <input id="recipePrepTime" type="text" name="prepTime" class="create-recipe">

        <label for="recipeCookTime" class="create-recipe">Cook Time</label>
        <input id="recipeCookTime" type="text" name="cookTime" class="create-recipe">

        <label for="recipeTotalTime" class="create-recipe">Total Time</label>
        <input id="recipeTotalTime" type="text" name="totalTime" class="create-recipe">

        <label for="recipeIngredients" class="create-recipe">Ingredients</label>
        <input id="recipeIngredients" type="text" name="ingredients" class="create-recipe">

        <label for="recipeInstructions" class="create-recipe">Instructions</label>
        <input id="recipeInstructions" type="text" name="instructions" class="create-recipe">

        <label for="recipeTags" class="create-recipe">Meal</label>
        <input id="recipeTags" type="text" name="tags" class="create-recipe">

        <label for="recipeServings" class="create-recipe">Servings</label>
        <input id="recipeServings" type="text" name="servings" class="create-recipe">


        <input type="submit" id="bttn">

    </form>
</div>