<div id="form-container">
    <form id="form-container" method="POST" action="/recipe" class="create-recipe">
        <label id="formList" for="recipeName">Name</label>
        <input id="formList" type="text" name="name" class="create-recipe">

        <label id="formList" for="recipeImg">Image URL</label>
        <input id="formList" type="text" name="img_url" class="create-recipe">

        <label id="formList" for="recipeDescription">Description</label>
        <input id="formList" type="text" name="description" class="create-recipe">

        <label id="formList" for="recipeYields">Yields</label>
        <input id="formList" type="text" name="yields" class="create-recipe">

        <label id="formList" for="recipePrepTime">Prep Time</label>
        <input id="formList" type="text" name="prepTime" class="create-recipe">

        <label id="formList" for="recipeCookTime">Cook Time</label>
        <input id="formList" type="text" name="cookTime" class="create-recipe">

        <label id="formList" for="recipeTotalTime">Total Time</label>
        <input id="formList" type="text" name="totalTime" class="create-recipe">

        <label id="formList" for="recipeIngredients">Ingredients</label>
        <input id="formList" type="text" name="ingredients" class="create-recipe">

        <label id="formList" for="recipeInstructions">Instructions</label>
        <input id="formList" type="text" name="instructions" class="create-recipe">

        <label id="formList" for="recipeTags">Meal</label>
        <input id="formList" type="text" name="tags" class="create-recipe">

        <label id="formList" for="recipeServings">Servings</label>
        <input id="formList" type="text" name="servings" class="create-recipe">


        <input type="submit" id="bttn">

    </form>
</div>